<div class="register-container">
  <h1>Enregistrer un nouvel utilisateur</h1>

  <div *ngIf="successMessage" class="notification success">
    {{ successMessage }}
  </div>
  <div *ngIf="errorMessage" class="notification error">
    {{ errorMessage }}
  </div>  

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="firstname">Prénom</label>
      <input id="firstname" type="text" formControlName="firstname" />
      <div class="error" *ngIf="submitted && f['firstname'].errors?.['required']">
        Le prénom est requis.
      </div>
    </div>

    <div>
      <label for="lastname">Nom</label>
      <input id="lastname" type="text" formControlName="lastname" />
      <div class="error" *ngIf="submitted && f['lastname'].errors?.['required']">
        Le nom est requis.
      </div>
    </div>

    <div>
      <label for="login">Email</label>
      <input id="login" type="email" formControlName="login" />
      <div class="error" *ngIf="submitted && f['login'].errors?.['required']">
        L'email est requis.
      </div>
      <div class="error" *ngIf="submitted && f['login'].errors?.['email']">
        Veillez entrer un email valide. Ex: exemple@gmail.com
      </div>
    </div>

    <div>
      <label for="password">Mot de passe</label>
      <input
        id="password"
        type="password"
        formControlName="password"
        placeholder="Au moins 6 caractères"
      />
      <div class="error" *ngIf="submitted && f['password'].errors?.['required']">
        Le mot de passe est requis.
      </div>
      <div class="error" *ngIf="submitted && f['password'].errors?.['minlength']">
        Le mot de passe doit contenir au moins 6 caractères.
      </div>
    </div>

    <div>
      <label for="role">Rôle</label>
      <select id="role" formControlName="role">
        <option value="" disabled>Séléctionner le rôle</option>
        <option value="admin">Admin</option>
        <option value="user">User</option>
      </select>
      <div class="error" *ngIf="submitted && f['role'].errors?.['required']">
        Le rôle est requis.
      </div>
    </div>

    <div>
      <label for="company_id">Entreprise ID (optional)</label>
      <input id="company_id" type="number" formControlName="company_id" />
    </div>

    <div class="button-container">
      <app-animated-button
        [text]="'Inscrire'"
        [disabled]="registerForm.invalid"
      ></app-animated-button>
    </div>
  </form>
</div>
