.flex {
    display: flex;
}

.questions {
    width: 20%;
    height: 92vh;
}

.question {
    cursor: pointer;
}

.style-none {
    list-style: none;
}

input {
    width: 30%;
}

.light-theme .questions {
    background-color: #b5cdbf;
}

.light-theme {
    background-color: #ffffff;
    color: #000000;
}

.dark-theme .questions {
    background-color: #3a3a3a;
}

.dark-theme {
    background-color: #1e1e1e;
    color: #ffffff;
}
