<mat-toolbar
  color="primary"
  class="w-100 d-flex justify-content-between align-items-center custom-toolbar"
>
  <img
    src="./assets/images/logo_shiftingpact_verteau_blanc.png"
    alt="Website Logo"
    class="logo img-fluid"
    [routerLink]="['/home']"
  />
  <div class="d-flex">
    <button
      *ngIf="!authService.isTokenValid()"
      [routerLink]="['/login']"
      mat-button
      class="btn btn-outline-light"
    >
      Se connecter
    </button>
    <button
      *ngIf="authService.isTokenValid()"
      [routerLink]="['/dashboard']"
      mat-button
      class="btn btn-outline-light"
    >
      Panneau de gestion
    </button>
    <button
      *ngIf="authService.isAdmin()"
      [routerLink]="['/statistics']"
      mat-button
      class="btn btn-outline-light"
    >
      Statistiques
    </button>
    <button
      *ngIf="authService.isAdmin()"
      [routerLink]="['/register']"
      mat-button
      class="btn btn-outline-light"
    >
      Inscription
    </button>
    <button
      *ngIf="authService.isUser()"
      [routerLink]="['/userRegister']"
      mat-button
      class="btn btn-outline-light"
    >
      Inscription
    </button>
  </div>
  <span class="spacer"></span>
  <button
    mat-icon-button
    matTooltip="Déconnexion"
    (click)="authService.logout()"
    [routerLink]="['/']"
    class="logout-btn"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
