/* Logo size adjustment */
.logo {
    height: 40px;  /* Adjust height as needed */
    width: auto;   /* Maintain aspect ratio */
}

.logout-btn {
    margin-left: 10px;
}
.custom-toolbar {
    height: 8vh;
    background-color: #013238; /* Replace with your hex color */
    color: #ffffff; /* Adjust text color if needed */
}