<mat-toolbar color="primary" class="w-100 d-flex justify-content-between align-items-center custom-toolbar">
    <!-- Logo -->
    <img src="./assets/images/logo_shiftingpact_verteau_blanc.png" alt="Website Logo" class="logo img-fluid">

    <!-- Buttons (on the right) -->
    <div class="d-flex">
        <button *ngIf="!authService.isTokenValid()" [routerLink]="['/login']" mat-button class="btn btn-outline-light">Se connecter</button>
        <button *ngIf="authService.isTokenValid()" [routerLink]="['/dashboard']" mat-button class="btn btn-outline-light">Panneau de gestion</button>
        <button *ngIf="authService.isTokenValid()" (click)="authService.logout()" [routerLink]="['/']" mat-button class="logout-btn btn btn-outline-light">Se déconnecter</button>
    </div>
    <span *ngIf="user" class="mr-3">Bienvenue {{ user.firstname }} {{user.lastname}}</span>

</mat-toolbar>
