.container-list {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 16px;
}

.container-item {
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.light-theme .container-item {
    background-color: #f9f9f9;
    border-color: #ccc;
    color: #333;
}

.light-theme .container-item:hover {
    background-color: #e0e0e0;
    border-color: #bbb;
}

.dark-theme .container-item {
    background-color: #013238;
    border-color: #02555e;
    color: #fff;
}

.dark-theme .container-item:hover {
    background-color: #b5cdbf;
    border-color: #1abc9c;
    color : black;
}

.container-item:active {
    transform: scale(0.98);
}
